body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  margin: 0;
  text-align: center;
}

#chat-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

#chat {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  border: 2px solid #ff9800;
  padding: 10px;
  background: #222;
  border-radius: 10px;
  text-align: left;
}

.message {
  margin-bottom: 10px;
  font-size: 16px;
}

.username {
  font-weight: bold;
}

.username-colored {
  font-weight: bold;
}

.timestamp {
  color: #bbb;
  font-size: 12px;
  margin-right: 5px;
}

.ittaq62 {
  color: red !important;
  font-weight: bold;
}

.ittaq62-message {
  color: red !important;
  font-weight: bold;
}

.clear-button {
  margin-top: 12px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #ff4d4d;
}

.clear-button:hover {
  background-color: #cc0000;
}
